PORT=3000
ADDRESS=0.0.0.0
BASE_URL=http://localhost:3000

DB_TYPE=sqlite
SQLITE_PATH=./data/database.db

#FALSE MODE = in local you dont have public ip, so you cant publish to central, you plugin dont show in the stremio store
#TRUE MODE = in production you have public ip, so you can publish to central, and your plugin will show in the stremio store
PUBLISH_IN_STREMIO_STORE=FALSE